node_modules/
**/node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

!.env.example

dist/
**/dist/
build/
**/build/
coverage/


.expo/
**/.expo/

web-build/
**/web-build/

mobile/android/
mobile/ios/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/

*.tmp
*.temp